:root {
    --primary-text-color: #212121;
    --light-bacground-color: #F5F5F5;
    --dark-bacground-color: #2F303A;
    --minor-text-color: #757575;
}
header{
    background-color: #FFFFFF;
    color: var(--primary-text-color);
}
ul {
    list-style: none;
}
.list .link{
    color: var(--primary-text-color);
}
.list .link:hover,
.list .link:focus {
    color: #2196F3;
}
.list-сontact .link{
color: var(--primary-text-color);
}
.list-сontact .link:hover,
.list-сontact .link:focus{ 
    color: #2196F3;}
.logo{
        color: #2196F3;
    }
.accent{
    color: #000000;
}
body {

}
.slogan {
     background-color: var(--dark-bacground-color);   
     color: var(--minor-text-color);
 }
 .slogan-text {
    color: #FFFFFF;
 }
 .slogan .button {
    background-color: #2196F3;
    color: #FFFFFF;
    cursor: pointer;
 }
 .central-block {
    background-color: var(--light-bacground-color);
 }
 .section-text{
    color: var(--minor-text-color);
 }
 .cellar {
    background-color: var(--dark-bacground-color);
    color: #FFFFFF;
}
.cellar .link {
    color: rgba(255, 255, 255, 60%)
}
.cellar .accent{
    color: #FFFFFF;
}