:root {
    --primary-text-color: #212121;
    --light-bacground-color: #F5F5F5;
    --dark-bacground-color: #2F303A;
    --secondary-text-color: #FFFFFF;
    --minor-text-color: #757575;
    --primary-button-color: #F5F4FA;
}
body{
    background-color: #FFFFFF;
    color: var(--primary-text-color);
}
ul {
    list-style: none;
}
.list .link{
    color: var(--primary-text-color);
}
.list .link:hover,
.list .link:focus {
    color: #2196F3;
}
.list-сontact .link{
color: var(--primary-text-color);
}
.list-сontact .link:hover,
.list-сontact .link:focus{ 
    color: #2196F3;}
.logo{
        color: #2196F3;
    }
.accent{
    color: #000000;
}
.slogan {
     background-color: var(--dark-bacground-color);   
     color: var(--minor-text-color);
 }
 .slogan-text {
    color: var(--secondary-text-color);
 }
 .button.secondary{
    background-color: #2196F3;
    color: var(--secondary-text-color);
    cursor: pointer;
 }
 .button.primary {
background-color: var(--primary-button-color);
color: var(--primary-text-color);
cursor: pointer;
border: none;
 }
 .button.primary:hover,
 .button.primary:focus {
    background-color: #2196F3;
    color:var(--secondary-text-color);
 }
 .central-block {
    background-color: var(--light-bacground-color);
 }
 .section-text,
 .gallery-text {
    color: var(--minor-text-color);
 }
 .cellar {
    background-color: var(--dark-bacground-color);
    color: var(--secondary-text-color);
}
.cellar .link {
    color: rgba(255, 255, 255, 60%)
}
.cellar .accent{
    color: #FFFFFF;
}